p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.profile {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}

.profile-picture {
  width: 200px;
  height: 200px;
  margin-bottom: 12px;
  object-fit: cover;
  
  
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 5px;

}
.mutual-friends-row {
  margin-left: 8px;
  margin-bottom: 10px;
  
}
.mutal-friend-picture{
  height: 28px;
  width: 28px;
  object-fit: cover;
  border-radius: 14px;
  margin-right: 4px;
  vertical-align: middle;
  
  

}

.mutual-friends {
  color: rgb(100, 100, 100);
  
  
  vertical-align: middle;
  display: inline-block;
  
  
  
}

.add-friend-button {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
  
}