*{
  padding: 0;
}
.search-url{
  width: 500px;
  font-size: 20px;
  padding-left: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  border-radius: 20px;
   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
   margin-top: 20px;
  margin-left: 20px;

}