div{
  text-align: center;
}


.logo{
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;

  
 
  
}
.search-url{
  width: 500px;
  font-size: 16px;
   padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0,0.2);
  margin-bottom: 30px;
}
 
.search-button{
  background-color: rgb(245, 245, 245);
  border: none;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;

}
  

.lucky-button{
   border: none;

  font-size: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 140px;
  margin-right: 10px;
}



