.name{
  font-size: 20px;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:10px ;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  margin-bottom: 13px;
}
.first{
  font-size: 20px;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:10px ;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  
}
.mail{
  display: block;
  width: 320px;
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:10px ;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  margin-bottom: 13px;
}
.sign{
  width: 330px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border-style: solid;
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  

}

