p{
  font-size: 30px;
}
.location{
  display: block;
  margin-bottom: 10px;
  width: 300px;
  font-size: 17px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.301);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: rgb(240, 240, 240);
  border: none;
}
.destination{
  display: block;
  margin-bottom: 10px;
  width: 300px;
  font-size: 17px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.301);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: rgb(240, 240, 240);
  border: none;
  margin-bottom: 32px; 
}
.request-button{
  color: white;
  background-color: black;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 1px;
  margin-right: 15px;
  width: 120px;

}
.later-button{
 background-color: white;
  color: black;
  border: none;
  
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 1px;
  background-color: rgb(240, 240, 240);
  border-color: rgba(128, 128, 128, 0.301);
  width: 150px;


}

